body {
    text-align: left;
    background-color: lightskyblue;
    margin: 10%;
}

div{
    width: 100%;
}

h2{
    margin: 0px;
}

/*HEADER*/
#header{
    height: 100px;
    background-color: dodgerblue;
    border-bottom: black 1px solid;
}

#left{
    width: 40%;
    height: 100%;
    text-align: left;
    float: left;
}

#left h1{
    padding-top: 15px;
    padding-left: 20px;
}

#right{
    width: 40%;
    height: 100%;
    text-align: right;
    float: right;
}

#right form{
    padding-top: 10px;
    padding-right: 10px;
}

/*CONTENT*/
#content{
    height: 1000px;
    background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*FOOTER*/
#footer{
    height: 60px;
    text-align: center;
    background-color: blue;
    border-top: black 1px solid;
    clear: both;
}

/*Login CSS*/
#loginForm{
    width: 40%;
    padding-left: 10px;
    float: left;
}

/*Register CSS*/
#registerPage{
    text-align: center;
}

/*Both Login and Register*/
#specialHeader{
    padding-top: 12px;
    text-align: center;
    float: top;
}

.link{
    width: 40%;
    text-align: right;
    padding-right: 10px;
    float: right;
}